@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #D9D9D9;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: .5rem;
}